body{
    color:white;
    background-color: black;
    margin: 0px;
    font-family: "Work Sans", sans-serif;

}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: white;
}

section{
    background: black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}